@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Profissional Curriculum</h1>
    <p>Site profissional com informações relevantes sobre Eduarda Dalmas</a>.</p>
</div>
